* {
    padding:0;
    margin:0;
}
header {
    background-color:#343434;
    height:80px;
    width:100%;
    position:fixed;    
}
h1 {
    color:white;
    position:absolute;
    left:120px;
    top:0;
    line-height: 80px;
    font-weight: normal;
    font-family: "URW Baskerville", Baskerville, serif;
    font-size:38px;
    /*background-image:url(images/logo.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    width:210px;*/
}
header title{
    font-size:18px; 
    font-family: "URW Baskerville", Baskerville, serif; 
}
header ul {
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
header li {
    display:inline;
    margin-right:4vw;   
    font-size:17px; 
    font-family: "URW Baskerville", Baskerville, serif;
}
header a {
    color:white;
    text-decoration: none;

}
header a:hover {
    text-decoration: underline;
    /*background-color: #530e0e;*/
}

/* index */
.welcome {
    background-color: #eeeded;
    color:white;
    height:95vh;
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 5%; /* Added for better spacing */
}
.welcome p {
    color:#202020;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    margin:35px 0;
}
.welcome img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}
.welcome h2 {
    color:#202020;
    font-size:30px;
    margin-top:60px;
}

.slogan {
    background-color: #eeeded;
    color:white;
    height:25vh;
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 0 5%; /* Added for better spacing */
}
.slogan p {
    color:#202020;
    font-size:18px;
    margin:25px 0;
    font-family: "URW Baskerville", Baskerville, serif; 
}

/* About */
.intro {
    background-color: #eeeded;
    color:white;
    height:95vh;
    display:flex;
    flex-direction: row; /* Changed from column */
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 5%; /* Added for better spacing */
}
.intro img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}
.intro h3{
    color:#202020;
    font-size:24px;
    margin:50px 60px 15px;
    font-family: "URW Baskerville", Baskerville, serif;  
    font-weight: normal;
}
.intro p {
    color:#202020;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 60px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}
.intro li{
    color:#202020;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 75px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    list-style-type: square;
}

.news {
    background-color:#eeeded;
    color:#202020;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.8em;  
}

.pagetitle {
    background-color: #eeeded;
    color:white;
    height: 30vh; /* Adjust to make it smaller */
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end; /* Push content to the bottom */
    gap: 1rem;
    padding: 0 5%; /* Added for better spacing */ 
}
.pagetitle h2 {
    color:#202020;
    font-size:35px;
    font-family: "URW Baskerville", Baskerville, serif;
    font-weight: normal;
    align-items: center;
    padding-bottom: 1%;
}
.pagetitle hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Research */
.papers {
    background-color:#eeeded;
    color:#202020;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.8em;  
}
.papers li::before {
    content: "▪"; /* Unicode bullet character */
    color: #202020;
    margin-right: 10px; /* Spacing between bullet and text */
    
}
.papers li{
    display: flex;
    align-items: center;
    color:#202020;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60vw;
    max-width: 800px;
    margin: 0 auto 10px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

/* Teaching */
.records {
    background-color:#eeeded;
    color:#202020;
    height:70vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start; /* Push content to the bottom */
    padding-top: 10vh;
    line-height: 1.2em; 
    margin-top: 0;
}
.records li::before {
    content: "▪"; /* Unicode bullet character */
    color: #202020;
    margin-right: 10px; /* Spacing between bullet and text */
}
.records li{
    display: flex;
    align-items: center;
    color:#202020;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 55vw;
    max-width: 800px;
    margin: 0 auto 10px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}
.term {
    flex: 1; /* Allow the term to take up the required space */
    text-align: left;
}
.t-info {
    flex: 2;
    text-align: left;
}
.records p{
    color:#202020;
    font-size:21px;
    margin:25px 0; 
}

footer {
    background-color:#343434;
    color:#eeeded;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
.menu {
    display:none;
}

