// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
  font-family: 'Open Sans', sans-serif; // Change to any font you prefer
  font-size: 16px; // Adjust size as desired
  color: #333; // Choose your color
}
